.input {
  background-color: var(--foreground-color);
  color: var(--text-color);
  border: 1px solid var(--secondary-text-color);
  padding: var(--spacing-small);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
  width: 100%;
}

.input::placeholder {
  color: var(--secondary-text-color);
}
