.typography {
  font-family: var(--font-family);
  color: var(--text-color);
  margin: 0; /* Remove default margins */
}

.typography--heading {
  font-size: var(--font-size-large);
  color: var(--secondary-color);
  font-weight: bold;
}

.typography--subheading {
  font-size: var(--font-size-base);
  font-weight: normal;
}

.typography--body {
  font-size: var(--font-size-small);
}

.typography--bold {
  font-weight: bold;
}
.typography--regular {
  font-weight: 400;
}
