.post-feed-card {
  padding: 2rem;
  border-radius: 2.4rem;
  border: 1px solid var(--primary-opaque-color);
  opacity: 0;
  transition: ease-in-out 0.4s opacity;
}

.post-feed-card--visible {
  opacity: 1;
}

.post-feed-card__coments-separator-container {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 1.5rem;
  padding-left: 1rem;
}

.post-feed-card__coments-separator {
  height: 100%;
  width: 0.1rem;
  background-color: var(--primary-opaque-color);
  border-radius: 5rem;
}

.post-feed-card__comment {
  padding: 0.5rem 0;
}

@media (min-width: 768px) {
  .post-feed-card__coments-separator-container {
    padding-left: 1.5rem;
  }

  .post-feed-card__comment {
    padding: 0.75rem 0;
  }
}

@media (min-width: 1024px) {
  .post-feed-card {
    padding: 3rem;
  }

  .post-feed-card__coments-separator-container {
    padding-left: 2rem;
  }

  .post-feed-card__comment {
    padding: 1rem 0;
  }
}

@media (min-width: 1440px) {
  .post-feed-card {
    padding: 4rem;
  }
}

.post-feed-card__actions-container {
  display: flex;
  justify-content: flex-end;
}
