@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  /* Color scheme */
  --primary-color: #e0fbfc;
  --primary-opaque-color: #e0fbfc65;
  --secondary-color: #f26419;
  --transparent: #ffffff00;

  /* Dark theme colors */
  --background-color: #253237;
  --foreground-color: #5c6b73;
  --text-color: #c2dfe3;
  --secondary-text-color: #9db4c0;

  /* Fonts */
  --font-family: "Roboto", sans-serif;
  --font-size-base: 1.6rem;
  --font-size-large: 2rem;
  --font-size-small: 1.4rem;

  /* Spacing */
  --spacing-small: 0.8rem;
  --spacing-medium: 1.6rem;
  --spacing-large: 3.2rem;

  /* Borders */
  --border-radius: 0.4rem;
}

body {
  font-size: 1.6rem;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
.app-container {
  padding: 0 1.6rem;
  max-width: 76.8rem;
  margin: 0 auto;
  padding-bottom: 3rem;
}
